[MASTER]
ignore-patterns=slpp.py
fail-under=9.5


[MESSAGES CONTROL]
# Disable some of the more "opinionated" or hard-to-fix-quickly checks
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        import-error,
        no-name-in-module,
        attribute-defined-outside-init,
        missing-class-docstring,
        missing-function-docstring,
        unnecessary-lambda,
        broad-except,
        bare-except,
        # Relaxing these for the "big boost"
        too-many-instance-attributes,
        too-many-locals,
        too-many-arguments,
        too-many-statements,
        too-many-branches,
        too-many-lines,
        too-many-positional-arguments,
        duplicate-code,
        line-too-long,
        fixme,
        inconsistent-return-statements

[REPORTS]
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
score=yes

[VARIABLES]
# Calibre/Qt globals that show up as "undefined"
additional-builtins=_,get_icons,get_resources

[FORMAT]
max-line-length=140
max-module-lines=2000

[BASIC]
# Allow some common shorter names
good-names=i,j,k,ex,Run,_,db,f,qs,ok

[DESIGN]
# Loosen these up a bit
max-args=10
max-attributes=15
max-locals=25
max-statements=100
max-branches=20
min-public-methods=0
